@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #E2E2E2;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  border-radius: 4%;
  background-color: #ffffff;
}

img {
  width: 100%;
  position: relative;

}

.caption{
  position: absolute;
  font-family: serif;
  color: #ffffff;
  margin: -12% 0;
}

.subtitle{
  font-weight: 600;
  margin-left: 10%;
}


ul{
  float: left;
}

li{
  list-style-type: none;
}

.table{
  overflow: hidden;
}

.t-heading{
  color: #E2E2E2;
}










